body{
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: black;

}


#heading{
    font-size: 3em;
    color: red;
    font-weight: bold;
    text-align: center;
    font-family: 'Lemon', serif;
    letter-spacing: 5px;
}

.images{
    width: 50%;
  
}

.rdr2{
    height: 190px;
    width: 190px;
    margin-left: 60px;
    border: 3px solid red;
    border-radius: 14px;
    position: fixed;
}

.ac{
    height: 190px;
    width: 190px;
    margin-left: 190px;
    margin-top: 160px;
    border: 3px solid red;
    border-radius: 14px;
    position: fixed;
}

.mass{
    height: 190px;
    width: 190px;
    border: 3px solid red;
    border-radius: 14px;
    position: fixed;
    margin-left: 350px;
    
}

.elden{
    height: 190px;
    width: 190px;
    border: 3px solid red;
    border-radius: 14px;
    position: fixed;
    margin-left: 60px;
    margin-top: 330px;
}

.witcher{
    height: 190px;
    width: 190px;
    border: 3px solid red;
    border-radius: 14px;
    position: fixed;
    margin-left: 350px;
    margin-top: 330px;
}

.intro{
    color: red;
    margin-top: 0;
    padding-top: 0;
}

.allContent{
    display: flex;
    
}

.form{
    color: red;
    font-size: 2em;

}

.signup{
    text-align: center;
    font-weight: bold;
    margin-right: 70px;
}

.name, .email {
    font-size: 0.7em;
    margin-left: 120px;
   
    
}

.email{
    margin-top: 20px;
}

.phoneNo{
    margin-top: 20px;
    font-size: 0.7em;
    font-size: 0.7em;
    margin-left: 87px;
   
}

.dob{
    margin-top: 20px;
    font-size: 0.7em;
    margin-left: 23px;
    
}

#favGame{
    font-weight: bold;
    font-size: 0.8em;
}

.password{
    margin-top: 20px;
    font-size: 0.7em;
    margin-left: 69px;
    
}

input {
    border: 2px solid #000;
    border-radius: 7px;
  }
  
  input:invalid {
    border-color: red;
  }
  
  input:valid {
    border-color: green;
  }


.signupBtn{
    text-align: center;
    font-size: 0.7em;
    border: 2px ;
    border-radius: 11px;
    width: 240px;
    height: 40px;
    margin-top: 20px;
    transition: transform 0.2s;
    background-color: cyan;
   
}

.signupBtn:hover{
    transform:scale(1.2 );
}




.popup{
    position: absolute;
    text-align: center;
    background-color: white;
    height: 300px;
    width: 400px;
    border-radius: 12px;
    border: 4px solid black;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%)scale(0.1);
    transition: transform 0.4s,top 0.4s;
    visibility: hidden;
   
}


.popup img{
    width: 130px;
    height: 140px;
    margin-top: -40px;
    border-radius: 50%;
    overflow: hidden;
}

.home{
    border-radius: 12px;
    height: 40px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    background-color: green;
}

.home-button{
    text-align: center;
    
}